@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

:root{
    --background: #160E26;
    --background-two: #0d0916;
    --background-three: #fff;
    --buttons:#BDF288;
    --buttons-two: #562ca9;
    --buttons-hover: #CBF291;
    --details-one: #D98982;
    --details-two: #8C2F0D;
    --cinza-: #bbbbbb;
}

html{
    scroll-behavior: smooth;
    
}

.flex{
    display: flex;
}

.interface{
    max-width: 80rem;
    margin: 0 auto;
}

body{
    background-color: var(--background-three);
    font-family: "Kode Mono", monospace;
}



.header{
    padding: 0 5%;
    background-color: transparent;
}

.header > .interface{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 
}

 #header{
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    right: 0;
    transition: transform 0.3s ease;
} 

#header.scrollHide {
    transform: translateY(-100%);
} 


.navbar {
    
    background-color: transparent;
    display: flex;
    align-self: center;
    gap: 3rem;
    justify-content: space-between;
}

.op{
    
    margin: 35px 0;
    background-color: var(--buttons-two);
    padding: 8px 40px;
    border-radius: 2px;
}

.navbar-rigth{
   
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.contato{
    
    margin: 35px 0;
    background-color: var(--buttons-two);
    padding: 15px 50px;
    border-radius: 2px;
}


#linha-vert {
    
    height: 40px;
    border-right: 2px solid var(--buttons-two);
    
    
}

.music{
    margin: 35px 0;
    background-color: var(--buttons-two);
    padding: 15px 20px;
    border-radius: 2px;
}

.more_menu{
    
    margin: 35px 20px;
    background-color: var(--buttons-two);
    padding: 15px 50px;
    border-radius: 2px;
}

.top{
    
    width: 100%;
    min-height: calc(100vh);
    background-color: var(--background-threee);
}

.sobre{
    width: 100%;
    min-height: calc(100vh);
    background-color: var(--background-two);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.info_container{
    background-color: var(--buttons);
    padding: 10rem;
    margin: 20px;
}

.info_container_2{
    background-color: var(--buttons);
    padding: 15rem;
    margin: 20px;
}

.especialidades{
    padding: 10rem 4%;
 
    
}


.esp_container{
    padding: 10rem 40rem;
    background-color: var(--details-one);
    padding-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.builder_container{
    margin-top: -100px;
    padding: 1rem 4%;
    display: flex;
    flex-direction: column;
}

.builder{
    
    display: flex;
    flex-direction: row-reverse;

}

.esp_build{
    background-color: var(--details-two);
    padding: 40px;
    margin: 10px;
    
    
}

.info_esp{
    margin: 20px;
    margin-top: -90px;
    background-color: var(--buttons);
    padding: 10rem 17rem;

   
}


/* projetos */

.projetos{
    width: 100%;
    min-height: calc(100vh);
    background-color: var(--background-threee);
}

.titulo h1{
    max-width: 900px;
    font-size: 4rem;
    line-height: 10rem;
    transform: translate3d(0rem, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    margin-bottom: 20px;
}

.proj-container{
    margin-top: 24px;
    display: flex;
    border-top: 1px solid var(--buttons-two);
    align-items: center;
    justify-content: space-around;
    
}

.coluna-um{
    padding: 4rem;
    height: 100vh;
}

.coluna-um .button{
    color: #fff;
    background-color: #562ca9;
    border: 2px solid #562ca9;
}

.coluna-um .button:hover{
    background-color: transparent;
    color: #562ca9;
}

.coluna-dois{
    
    height: 100vh;
    padding: 4rem;
    width: 70%;
    
}

.proj-lista{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: var(--background);
}

.proj-link{
    margin: 10px;
    height: 70%;
    padding: 9.375rem;    
    background-color: var(--buttons);
}

.proj-img{
    margin: 10px;
    height: 70%;
    padding: 9.375rem;    
    background-color: var(--buttons);
    border-radius: 20px;
}


/* formulario de contato */

.contatar{
    width: 100%;
    min-height: calc(100vh);
    margin-top: 30rem;
}

.container-ct{
    display: flex;
    align-items: center;
    justify-content: center;

}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 50%;
    padding: 9.375rem; 
    background-color: #562ca9;   
}

form label{
    margin: 10px;
    border: solid 1px var(--cinza-);
    border-radius: 5px;
    padding: 10px;
    display: inline-flex;   
    align-items: center;
    justify-content: center;
    background-color: var(--background-three);
}

form input{
   border-radius: 2px;
   margin: 5px;
   width: 20rem;
   height: 40px;
   background-color: transparent;
   border: none;
}

form input::placeholder{
    font-family: "Kode Mono", monospace;
    font-size: 18px;
}

form textarea{
    border-radius: 2px;
    width: 20rem;
    height: 90px;
    margin: 5px;
    background-color: transparent;
    border: none;
}

form textarea::placeholder{
    font-family: "Kode Mono", monospace;
    font-size: 18px;
}

form svg{
    margin: 10px;
    font-size: 30px;
    
    
}

.img-ct{
    height: 100vh;
    width: 50%;
    padding: 9.375rem;    
    background-color: #BDF288;  
}

.bot_lane{
    margin-top: 10rem;
    padding: 5rem 1.5rem 2rem;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


.container_bot{
    width: 1200px;
    
}

.box{
    background-color: var(--background-two);
    padding: 3.2rem 3.2rem;
    margin-top: -9rem;
    border-radius: 20px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #141c3a;
    font-family: "Kode Mono", monospace;
    
}

.coluna_levels{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
}

.coluna{
    display: block;
    
}



.coluna_titulo{
    color: #fff;
    font-weight: 600;
    
    line-height: 1.125;
    word-break: break-word;
}

.coluna_titulo h1{
    font-size: 18px;    
}

.coluna_texto{
    color: #fff;
    font-size: 13px;
    text-align: center;
}

.button_cnvs{
    display: inline-block;
    
}

.button{
    font-weight: 400 !important;
    text-decoration: none;
    
    padding: 1.25em 2em;
    border-radius: 9999px;
    
    display: flex;
    transition: all ease .2s;
    align-items: center;

}

.button_cnvs .button{
    border: 2px solid var(--buttons);
    color: #fff;
}

.button_cnvs .button:hover{
    background-color: var(--buttons-hover);
    color: var(--background-two);
    
}

.button .icon{
    height: 1.5em;
    width: 1.5em;
    margin-right: 0.5em;
    
}

.icon{
    align-items: center;
    display: inline-flex;
    justify-content: center;

}

span{
    font-style: inherit;
    font-weight: inherit;
    

}

.txt{
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

footer{
    height: 60vh;
    background-color: var(--background);
}

